.hero{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.video-banner-bg{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero .common-frame{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero h1{
    font-size :3rem;
    line-height: 0.9;
    font-weight: var(--weight2);
    font-family: 'zen';

}
.aboutme{
    margin-top: 9rem;
    text-align:center;
}
.ac1{
    margin-bottom: 1rem;
}
.about-title{
    font-size: 5rem;
    font-weight: var(--weight2);
    margin-bottom: 6rem;    
}
.about-content{
    display: flex;
    gap: 1rem;
}
.about-txt {
    width: 50%;
    padding-right: 7.75rem;
    box-sizing: border-box;
    text-align: left;
}
.about-img{
    width: 50%;
}
.about-txt h3{
    margin-bottom: 5rem;
}
.about-txt h4{
    margin-bottom: 1rem;
}
.about-txt p{
    margin-bottom: 3rem;
    line-height: var(--lnh150);
}
.cloud{
    margin-left: auto;
    margin-bottom: 30px;
    width:1101px;
    height:200px;
}
.cloud img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.cloud2{
    margin-right: auto;
    margin-bottom: 30px;
    width:1249px;
    height:200px;
}
.cloud2 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.cloud3{
    margin-left: auto;
    margin-bottom: 90px;
    width:1556px;
    height:200px;
}
.cloud3 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.aboutme2 {
    margin-top: 6rem;
    /* background-color: black; */
    /* color: #fff; */
}
.aboutme2 .common-frame {
    display: flex;
    gap: 1rem;
    padding: 6rem 0;
}
.aboutme2-img{
    width: 50%;
}
.aboutme2-txt{
    width: 50%;
    margin-top: 3rem;
}
.aboutme2-txt h3{
    margin-bottom: 2rem;
}
.aboutme2-txt p{
    line-height: var(--lnh150);
    margin-bottom: 3rem;
}
.aboout-dl{
    display: grid;
    grid-template-columns: repeat(2,minmax(50px,1fr));
    gap: 1rem;
    margin-bottom: 3rem;
}
.aboout-dl>div {
    display: flex;
    gap: 1rem; 
 
}
.aboout-dl>div dt{
    flex:1;
    font-weight: var(--weight1);
    text-transform: uppercase;
}
.aboout-dl>div dd{
    flex: 1;
}
.certi h4{
    margin-bottom: 1rem;
}
.certi-list>li{
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 150px 1.5fr 1fr;
}
.skill{
    background-color: black;
    padding: 6rem 0;
    color: #fff;
    text-align: center;
}
.skill h3{
    margin-top: 1rem;
}
.skill h3+p{
    margin-bottom: 2rem;
}
.grid-skill{
    display: grid;
    grid-template-columns: repeat(5,minmax(50px,1fr));
    gap: 1rem;
    text-align: center;
}
.grid-skill>li{

    padding: 2rem;

}
.grid-skill>li h4{
    margin-top: 2rem;
}
.popup-slider{
    width: 100%;
}
.popup-slider h4{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.popup{
    margin-top: 10rem;
}
.popup h3{
    text-align: center;
    margin-bottom: 1rem;
}
.popup h3+p{
    text-align: center;
    margin-bottom: 2rem;
}
.poster h3{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 10rem;
}
.poster h3+p{
    text-align: center;
    margin-bottom: 2rem;
}
.banner h3{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 10rem;
}
.banner h3+p{
    text-align: center;
    margin-bottom: 2rem;
}



@media(max-width:1500px){
    .grid-skill{
        display: grid;
        grid-template-columns: repeat(4,minmax(50,1fr));
        gap: 1rem;
        text-align: left;
    }
}