@media (max-width:1024px){
    .header-smart{
        position: fixed;
        z-index: 100000;
        display: block;
        left: 5rem;
        right: 5rem;
        top: 7rem;
        bottom: 5rem;
         background-color: rgba(255, 255, 255, 0.7);
         backdrop-filter: blur(10px);
         box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
         border-radius: 5px;
         display: flex;
         justify-content: center;
         align-items: center;
         overflow: auto;
         filter: blur(0);
         opacity: 1;
         pointer-events: auto;
         transition: all 0.6s ease 0s;
    }
    .header-smart.fadeout{
        filter: blur(100px);
        opacity: 0;
        pointer-events: none;
    }
    .gnb-smart{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .btn-menu {
        display: block;
        position: fixed;
        top: 1rem;
        left: calc(50% - 1.5rem );
        width: 3rem;
        aspect-ratio: 1/1;
        /* box-shadow: 0 0 10px rgb(0, 0, 0, 0.2); */
        filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.2));
        z-index: 10000;
        transition: all 0.6s ease 0s;
        filter: blur(0px);
        opacity: 1;
        pointer-events: auto;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        border-radius: 50%;
    }
.btn-menu.fadeout{
    filter: blur(100px);
    opacity: 0;
    pointer-events: none;
}
.btn-menu img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}
    header{
        display: none;
    }
    .project-sticky-menu{
    top: 1rem;
}
    .hero{
    height:800px;
}
.about-title{
    font-size:3.8rem;    
}
.about-txt{
    padding-right: 0;

}
.aboout-dl{
    display: grid;
    grid-template-columns: repeat(1,minmax(50px,1fr));
    gap: 1rem;
    margin-bottom: 3rem;
}
.cloud{
    margin-left: auto;
    margin-bottom: 25px;
    width:70%;
    height:150px;
}
.cloud img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.cloud2{
    margin-right: auto;
    margin-bottom: 25px;
    width:80%;
    height:150px;
}
.cloud2 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.cloud3{
    margin-left: auto;
    margin-bottom: 85px;
    width:90%;
    height:150px;
}
.cloud3 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.grid-skill{
    display: grid;
    grid-template-columns: repeat(2,minmax(50px,1fr));
    gap: 1rem;
    text-align: center;
}
}