@media (max-width:1024px){
    .hero{
    height:800px;
}
.about-title{
    font-size:3.8rem;    
}
.about-txt{
    padding-right: 0;

}
.aboout-dl{
    display: grid;
    grid-template-columns: repeat(1,minmax(50px,1fr));
    gap: 1rem;
    margin-bottom: 3rem;
}
.cloud{
    margin-left: auto;
    margin-bottom: 25px;
    width:70%;
    height:150px;
}
.cloud img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.cloud2{
    margin-right: auto;
    margin-bottom: 25px;
    width:80%;
    height:150px;
}
.cloud2 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.cloud3{
    margin-left: auto;
    margin-bottom: 85px;
    width:90%;
    height:150px;
}
.cloud3 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.grid-skill{
    display: grid;
    grid-template-columns: repeat(2,minmax(50px,1fr));
    gap: 1rem;
    text-align: center;
}
}